* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

header {
    background-image: url(../img/teal-bg-horizontal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 80vh;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    max-width: 15%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
}

#header-text {
    border: solid 3px #b08f26;
    padding: 3em 8em;
    max-width: 70%;
    justify-content: center;
    align-items: center;
    background-color: hsla(0,100%,100%,.3);
}

header h2 {
    max-width: 500px;
}