/* ===== GLOBAL STYLES ===== */
* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
    color: #2b2b2b;
    background: #fefefe;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: 'Merriweather', serif;
}

/* ===== NAVIGATION ===== */
nav {
    position: absolute;
    top: 0;
    right: .5rem;
    z-index: 10;
}

nav ul {
    display: flex;
    margin-top: 0;
}

nav ul a {
    list-style-type: none;
    margin: -25px .5rem 0;
    width: 100px;
    height: 100px;
    background: hsla(0,100%,100%,.6);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 25px;
    transition: all 0.2s ease;
}

nav ul a:nth-of-type(2) {
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%);
}

nav ul a:hover {
    margin: 0 .5em;
    background: hsla(0,100%,100%,.85);
}

nav ul a {
    text-decoration: none;
    color: #2b2b2b;
    font-weight: 600;
}

/* ===== HEADER ===== */
header {
    background-image: url(../img/teal-bg-horizontal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    max-width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
}

#header-text {
    border: solid 3px #b08f26;
    padding: 3rem 8rem;
    max-width: 70%;
    justify-content: center;
    align-items: center;
    background-color: hsla(0,100%,100%,.3);
}

header h1 {
    margin-bottom: 0;
    font-family: 'Merriweather', serif;
}

header h2 {
    max-width: 500px;
    font-weight: 600;
    margin-top: 5px;
    font-family: 'Quicksand', sans-serif;
}

/* ===== PORTFOLIO ===== */
#portfolio aside {
    width: 33%;
    max-width: 350px;
    border-right: solid 1px #b08f26;
    padding: 2rem 0;
}
#portfolio h2, 
#portfolio h3 {
    background-image: url('../img/teal-bg-horizontal.jpg');
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
    padding: 1rem 1rem 1rem 2rem;
    max-width: 60%;
    min-width: 190px;
    border: solid 2px #b08f26;
    border-left: none;
    text-align: left;
}
#portfolio h2 {
    max-width: 85%;
}

/* ===== ABOUT ===== */
#about {
    background-image: url('../img/teal-bg-horizontal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    height: 600px;
    padding: 2rem;
}
#about h2 {
    background-color: hsla(0,100%,100%,.4);
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    max-width: 30%;
    padding: 1rem;
    border: solid 2px #b08f26;
    margin: 1rem auto;
}