* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background-image: url(../img/teal-bg-horizontal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 80vh;
    width: 100%;
    position: absolute;
}

#logo {
    max-width: 15%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
}

#header-text {
    border: solid 3px #b08f26;
    padding: 3em;
    margin: 8em 3em;
}